/*
 * TODO: rethink stylesheet structuring
*/

* {
    box-sizing: border-box;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 2em;
}

a:link, a:visited {
    color: #888;
}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.loaded canvas {
    opacity: 1;
}

#wrapper {
    width: 60em;
    max-width: 90%;
    min-height: 30em;
    max-height: 90%;
    height: 60em;
    position: relative;
    margin: 0 auto;
    padding: 3em 0;
}

#model_container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.label {
    width: 5em;
    display: inline-block;
}

#info {
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    padding: 1em 1.5em;
    position: absolute;
    bottom: 3em;
    left: 0;
    z-index: 10;
    border: 1px solid #ccc;
    transition: 0.5s all;
    color: #777;
}

#filename {
    font-weight: 800;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

#links {
    position: relative;
    z-index: 1;
    padding-top: 0.5em;
}

#details {
    border-bottom: 1px solid #ccc;
    opacity: 0;
    height: 0;
    transition: 1s all, 1s opacity 0.5s;
    position: relative;
    z-index: 0;
}
.loaded + #info #details {
    padding: 0.5em 0;
    opacity: 1;
    height: auto;
    height: 11.5em;
}

.splitter {
    color: #777;
    padding: 0 0.5em;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.625;}
}

#percent {
    position: absolute;
    z-index: -2;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    text-align: center;
    width: 100%;
    color: #ccc;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media (max-width: 550px) {
    #info {
        right: 0;
        left: 0;
        bottom: 3em;
    }
    #info #links, #info #filename{
        text-align: center;
    }
    #details {
        padding: 0 !important;
        opacity: 0 !important;
        height: 0 !important;
        margin: 0 !important;
        transition: 1s all 0.625s, 1s opacity;
    }
}
