canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.loaded canvas {
    opacity: 1;
}

#wrapper {
    width: 60em;
    max-width: 90%;
    min-height: 30em;
    max-height: 90%;
    height: 60em;
    position: relative;
    margin: 0 auto;
    padding: 3em 0;
}

.label {
    width: 5em;
    display: inline-block;
}

@keyframes pulse {
    0%   {opacity: 1;}
    50%  {opacity: 0.625;}
}

.stlwv2_model {
    position: relative;
    min-height: 20em;
    border: 1px solid #ccc;
}
.stlwv2_model .percent {
    position: absolute;
    z-index: -2;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    text-align: center;
    width: 100%;
    color: #ccc;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
